@model List<WebApplication3.Models.Transaction>

@{
    ViewBag.Title = "Transactions";
}

<link rel="stylesheet" href="~/css/site.css">

<div class="container mt-5">
    <div class="row">
        <div class="col-md-15">
            <!-- Expanded to full width for table -->
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Transaction Records</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                   @*  <th scope="col">Transaction ID</th> *@
                                    <th scope="col">Account Name</th>
                                    <th scope="col">Account Number</th>
                                    <th scope="col">Recipient </th>
                                    <th scope="col">Request Status</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var transaction in Model)
                                {
                                    <tr>
                                      @*   <td>@transaction.TransactionId</td> *@
                                        <td>@transaction.AccountName</td>
                                        <td>@transaction.AccountNumber</td>
                                        <td>@transaction.RecipientAccountNumber</td>
                                        <td>@transaction.RequestStatus</td>
                                        <td>@transaction.TransactionType</td>
                                        <td>@transaction.Amount.ToString("C", new System.Globalization.CultureInfo("fil-PH"))</td>
                                        <td>@transaction.TransactionDate.ToString("yyyy-MM-dd HH:mm")</td>
                                        <td>@transaction.Description</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
